html {
  min-height: 100%;
}

body {
  background: black;
  font-family: 'Special Elite', cursive;
  color: #f2f2f2;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar a{
  color: #f8f8f8;
  font-size: 20px;
  
}

#barbell-icon {
  background: url(https://cdn2.iconfinder.com/data/icons/free-mobile-icon-kit/64/Barbell.png) 0px -10px;
  background-size: 40px;
  position: relative;
  top: 3px;
  height: 20px;
  width: 40px;
  outline: none;
  display: inline-block;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 4px 3px rgba(50, 50, 50, 0.4), 0px 8px 13px rgba(50, 50, 50, 0.1), 0px 18px 23px rgba(50, 50, 50, 0.1);
}

.slideshow {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.cssanimations .slideshow li {
  animation: backgroundFade 50s linear infinite;
}
.cssanimations .slideshow li:nth-child(1) {
  background-image: url(resources/theme/images/man-461195_960_720.jpg);
}
.cssanimations .slideshow li:nth-child(2) {
  background-image: url(resources/theme/images/23.01._Hiit-on-the-treadmill-1.jpg);
  animation-delay: 16.6666666667s;
}
.cssanimations .slideshow li:nth-child(3) {
  background-image: url(resources/theme/images/Group-Fitness.jpg);
  animation-delay: 33.3333333333s;
}
.no-cssanimations .slideshow li:nth-child(1) {
  background-image: url(resources/theme/images/adult-1850925_960_720.jpg);
  opacity: 1;
}

/* ANIMATIONS */
@keyframes backgroundFade {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  15% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}






